<html>
<head><title>LH's Book Databases</title></head>

<body>
    <h2>Book Name:  {{book.Title}}</h2>
<ul>
    <li><p>the AuthorID:{{ book.AuthorID }}</p></li>
    <li><p>Isbn:{{ book.Isbn }}</p></li>
    <li><p>Price:{{ book.Price }}</p></li>
    <li><p>Publisher:{{ book.Publisher }}</p></li>
    <li><p>PublishDate:{{ book.PublishDate }}</p></li>
</ul>
    <h2>Author Name:  {{author.Name}}</h2>
<ul>
    <li><p>the AuthorID:{{ author.AuthorID }}</p></li>
    <li><p>Age:{{ author.Age }}</p></li>
    <li><p>Country:{{ author.Country }}</p></li>
</ul>


<p><a href="/addr/"><input type="submit" value="Return"></a></p>

</body>

</html>